Segretaria/SegretarIA-DentalCare-Pro.json
{
  "name": "SegretarIA DentalCare Pro",
  "nodes": [
    {
      "parameters": {
        "content": "## 1. CHECK AVAILABILITY\nDentalCare REST API\n/api/appointments",
        "height": 640,
        "width": 1728,
        "color": 4
      },
      "id": "3ba304d9-979e-416c-a570-c3f73de5fbd0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 176]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "025d2642-7174-4d34-8ea6-a1c740c60faf",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [112, 304],
      "id": "c01a3353-3e88-4af1-ad7e-a267569e0fd5",
      "name": "Webhook",
      "webhookId": "025d2642-7174-4d34-8ea6-a1c740c60faf"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9274ce2c-2b03-4471-a7d7-7e2eb33312bb",
              "name": "serviceKey",
              "value": "<SERVICE_KEY>",
              "type": "string"
            },
            {
              "id": "8f4d01eb-8f96-4904-ae5c-3a451dbfc330",
              "name": "serverUrl",
              "value": "https://papalef.duckdns.org:8181",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f3bd6557-98a5-49f9-8b49-ca8eb51884f6",
      "name": "Service Key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [288, 304]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Service Key').first().json.serverUrl }}/api/public/service-token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Key",
              "value": "={{ $('Service Key').first().json.serviceKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dfba15fc-b4cd-491e-be7f-2dd04781a125",
      "name": "Login DentalCare",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [464, 304]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Ruolo\n\nSei un verificatore di disponibilita' appuntamenti dello Studio Dentistico DentalCare.\n\n**Data e ora attuali:** {{ $now }}\n**Orario richiesto:** {{ $json.body.args.time }}\n\n## Processo\n1. Usa **Controlla appuntamenti DentalCare** con from=inizio slot, to=fine slot (+1h).\n2. Se slot libero: confermalo.\n3. Se occupato: suggerisci fino a 3 alternative vicine.\n4. Orario lavorativo: 08:00-20:00, no weekend.\n\nNon proporre orari nel passato. Rispondi in italiano.",
        "options": {}
      },
      "id": "cb278919-ce9e-4816-abca-b2c4b6d7c42f",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [752, 304]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [592, 576],
      "id": "29019675-d82b-4aca-8842-ae14b436a316",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PFFN15WYjjdTA4aM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Recupera gli appuntamenti del gestionale DentalCare in una finestra temporale. Parametri: from = data inizio formato yyyy-MM-dd (es. 2026-06-25), to = data fine formato yyyy-MM-dd. Solo data, MAI datetime con orario.",
        "url": "={{ $('Service Key').first().json.serverUrl }}/api/appointments",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {"name": "from"},
            {"name": "to"}
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $('Login DentalCare').first().json.token }}"
            }
          ]
        }
      },
      "id": "c2167a66-8fcd-4b4f-be13-eab85078678f",
      "name": "Controlla appuntamenti DentalCare",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1024, 512]
    },
    {
      "parameters": {"options": {}},
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1104, 304],
      "id": "49325a1d-698f-4097-a5ff-ab8eb395f24d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## 2. BOOK APPOINTMENT\nDentalCare REST API\n/api/patients + /api/appointments",
        "height": 800,
        "width": 1728,
        "color": 5
      },
      "id": "1bac11b2-5406-48d6-8ee5-c8655e39a3c7",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 864]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c5fe63ef-9396-4514-8dc2-e28811b8725a",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [112, 1008],
      "id": "0219b45a-4f86-45ea-aeac-c7566ced5590",
      "name": "Webhook1",
      "webhookId": "c5fe63ef-9396-4514-8dc2-e28811b8725a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a570376-fb29-407c-ac0e-d7a0941d4a31",
              "name": "serviceKey",
              "value": "<SERVICE_KEY>",
              "type": "string"
            },
            {
              "id": "ea6b8b43-8668-44a5-9a1d-f2f79abd4117",
              "name": "serverUrl",
              "value": "https://papalef.duckdns.org:8181",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "700e6faf-c123-4d4a-87fd-b23069592051",
      "name": "Service Key 1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [288, 1008]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Service Key 1').first().json.serverUrl }}/api/public/service-token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Key",
              "value": "={{ $('Service Key 1').first().json.serviceKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1af74666-9191-4829-9dcb-914931c0c53b",
      "name": "Login DentalCare 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [464, 1008]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Ruolo\n\nSei un agente AI per la prenotazione appuntamenti dello Studio Dentistico DentalCare.\n\n**Data e ora attuali:** {{ $now }}\n**Paziente:** {{ $json.body.args.name }}\n**Email:** {{ $json.body.args.email }}\n**Telefono:** {{ $json.body.args.phone }}\n**Servizio:** {{ $json.body.args.service_type }}\n**Orario:** {{ $json.body.args.time }}\n\n## Processo\n1. Cerca paziente (telefono o email). Se trovato usa il patientId.\n2. Se non trovato, crea paziente (firstName, lastName da nome completo).\n3. Lista medici: scegli providerId adatto.\n4. Lista poltrone: scegli prima chairLabel.\n5. Prenota: patientId, providerId, chairLabel, startsAt, endsAt=startsAt+1h, notes.\n6. Se ok, invia conferma Gmail.\n\nNon inventare UUID. Rispondi in italiano.",
        "options": {}
      },
      "id": "06c4e1f0-a77e-44b5-8864-6f43deef156e",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [752, 1008]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [352, 1440],
      "id": "2d77cc14-cb18-426a-bdea-39f6d8af1d3e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "PFFN15WYjjdTA4aM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Cerca un paziente nel gestionale DentalCare per telefono o email. Parametro search: telefono o email del paziente.",
        "url": "={{ $('Service Key 1').first().json.serverUrl }}/api/patients",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {"name": "search"}
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $('Login DentalCare 1').first().json.token }}"
            }
          ]
        }
      },
      "id": "667c0c24-5b39-4bf8-ae5a-96fffa4e3281",
      "name": "Cerca paziente DentalCare",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [592, 1408]
    },
    {
      "parameters": {
        "toolDescription": "Crea un nuovo paziente nel gestionale DentalCare. Campi richiesti: firstName, lastName, phone, email.",
        "method": "POST",
        "url": "={{ $('Service Key 1').first().json.serverUrl }}/api/patients",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $('Login DentalCare 1').first().json.token }}"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {"name": "firstName"},
            {"name": "lastName"},
            {"name": "phone", "valueProvider": "modelOptional"},
            {"name": "email", "valueProvider": "modelOptional"}
          ]
        }
      },
      "id": "d46f4232-9998-4374-840e-5b370b3b83d8",
      "name": "Crea paziente DentalCare",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [816, 1408]
    },
    {
      "parameters": {
        "toolDescription": "Recupera la lista dei medici/operatori attivi del gestionale DentalCare.",
        "url": "={{ $('Service Key 1').first().json.serverUrl }}/api/providers",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {"name": "activeOnly", "valueProvider": "fieldValue", "value": "true"}
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $('Login DentalCare 1').first().json.token }}"
            }
          ]
        }
      },
      "id": "0bf08433-4cd1-4739-b348-06fc25a91823",
      "name": "Lista medici DentalCare",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1040, 1408]
    },
    {
      "parameters": {
        "toolDescription": "Recupera la lista delle poltrone/sale disponibili nel gestionale DentalCare.",
        "url": "={{ $('Service Key 1').first().json.serverUrl }}/api/appointments/chairs",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $('Login DentalCare 1').first().json.token }}"
            }
          ]
        }
      },
      "id": "04361154-bf8b-44d9-8424-91e03651c341",
      "name": "Lista poltrone DentalCare",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1264, 1408]
    },
    {
      "parameters": {
        "toolDescription": "Prenota un appuntamento nel gestionale DentalCare. Campi: patientId (UUID), providerId (UUID), chairLabel, startsAt (ISO 8601), endsAt (ISO 8601, startsAt+1h), notes.",
        "method": "POST",
        "url": "={{ $('Service Key 1').first().json.serverUrl }}/api/appointments",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $('Login DentalCare 1').first().json.token }}"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {"name": "patientId"},
            {"name": "providerId"},
            {"name": "chairLabel"},
            {"name": "startsAt"},
            {"name": "endsAt"},
            {"name": "notes", "valueProvider": "modelOptional"}
          ]
        }
      },
      "id": "3004ffa3-8ec7-499e-8f23-da60937b3cd7",
      "name": "Prenota appuntamento DentalCare",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1488, 1408]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.args.email }}",
        "subject": "=Conferma appuntamento DentalCare per {{ $json.body.args.name }} il {{ $json.body.args.time }}",
        "emailType": "text",
        "message": "=Ciao {{ $json.body.args.name }}!\\n\\nTi confermiamo il tuo appuntamento presso Studio Dentistico DentalCare in data {{ $json.body.args.time }} per il servizio: {{ $json.body.args.service_type }}.\\n\\nA presto!\\n\\nStudio Dentistico DentalCare",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [1120, 1168],
      "id": "f4a90fc2-6eba-4e86-aeb7-05b47818d39a",
      "name": "Send a message in Gmail",
      "webhookId": "77008693-0e80-4af0-967f-e1941a18a41a",
      "credentials": {
        "gmailOAuth2": {
          "id": "osgkvG7Vg8X6zvTp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {"options": {}},
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1408, 1008],
      "id": "19b1f706-d060-45d3-9e58-319d2f2797ac",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "content": "## 3. MODIFY APPOINTMENT\nDentalCare REST API\n/api/appointments/{id}/reschedule",
        "height": 688,
        "width": 1728,
        "color": 6
      },
      "id": "3abb282c-8a01-44a7-b65e-ce3179f35e99",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 1728]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "68afe57d-a588-4409-9849-b89d87f76f6b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [112, 1808],
      "id": "ba9d388a-5154-4823-8c13-bcb2b9b4a1e6",
      "name": "Webhook2",
      "webhookId": "68afe57d-a588-4409-9849-b89d87f76f6b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "977ff9fa-5427-4556-8984-0093a2fe913d",
              "name": "serviceKey",
              "value": "<SERVICE_KEY>",
              "type": "string"
            },
            {
              "id": "0e4db52b-d8f7-4d21-911d-56ca5f70269d",
              "name": "serverUrl",
              "value": "https://papalef.duckdns.org:8181",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3521e341-fea7-43db-8ad5-e637cd225ee7",
      "name": "Service Key 2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [288, 1808]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Service Key 2').first().json.serverUrl }}/api/public/service-token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Key",
              "value": "={{ $('Service Key 2').first().json.serviceKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b6e39297-a122-4016-8934-b6c1f396a593",
      "name": "Login DentalCare 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [464, 1808]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Ruolo\n\nSei un agente AI per la modifica appuntamenti dello Studio Dentistico DentalCare.\n\n**Data e ora attuali:** {{ $now }}\n**Paziente:** {{ $('Webhook2').item.json.body.args.name }}\n**Email:** {{ $('Webhook2').item.json.body.args.email }}\n**Telefono:** {{ $('Webhook2').item.json.body.args.phone }}\n**Appuntamento attuale:** {{ $('Webhook2').item.json.body.args.current_time }}\n**Nuovo orario:** {{ $('Webhook2').item.json.body.args.new_time }}\n\n## Processo\n1. Cerca appuntamento con finestra ±2h intorno a current_time.\n2. Filtra per paziente e orario. Match unico e certo.\n3. Prendi appointmentId e chairLabel originale.\n4. Sposta: startsAt=new_time, endsAt=new_time+1h, chairLabel originale.\n5. Se ok, invia conferma Gmail.\n\nSe ambiguita': non spostare, chiedi verifica manuale. Rispondi in italiano.",
        "options": {}
      },
      "id": "2ddd5490-e869-4f28-9785-b6ce7b63dddb",
      "name": "AI Agent2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [752, 1808]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [400, 2144],
      "id": "3eb90a5c-8cc3-429c-a1a0-274813844066",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "PFFN15WYjjdTA4aM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Recupera gli appuntamenti del gestionale DentalCare in una finestra temporale per trovare l'appuntamento da spostare. Parametri: from = data inizio formato yyyy-MM-dd (es. 2026-06-25), to = data fine formato yyyy-MM-dd. Solo data, MAI datetime con orario.",
        "url": "={{ $('Service Key 2').first().json.serverUrl }}/api/appointments",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {"name": "from"},
            {"name": "to"}
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $('Login DentalCare 2').first().json.token }}"
            }
          ]
        }
      },
      "id": "9ab95297-aed1-465b-845f-c993e0a5e039",
      "name": "Cerca appuntamento da spostare",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [848, 2144]
    },
    {
      "parameters": {
        "toolDescription": "Sposta un appuntamento nel gestionale DentalCare. Usa {appointment_id} nell'URL. Campi body: startsAt (ISO 8601), endsAt (ISO 8601), chairLabel (poltrona originale).",
        "method": "PATCH",
        "url": "={{ $('Service Key 2').first().json.serverUrl }}/api/appointments/{appointment_id}/reschedule",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $('Login DentalCare 2').first().json.token }}"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {"name": "startsAt"},
            {"name": "endsAt"},
            {"name": "chairLabel"}
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "appointment_id",
              "description": "UUID dell'appuntamento da spostare",
              "type": "string"
            }
          ]
        }
      },
      "id": "8c9ec6bc-79d7-41bb-8475-f2d3a3b9ad25",
      "name": "Sposta appuntamento DentalCare",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1168, 2128]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.args.email }}",
        "subject": "=Aggiornamento appuntamento DentalCare per {{ $json.body.args.name }}",
        "emailType": "text",
        "message": "=Ciao {{ $json.body.args.name }}!\\n\\nIl tuo appuntamento e' stato spostato.\\n\\nPrecedente: {{ $json.body.args.current_time }}\\nNuovo: {{ $json.body.args.new_time }}\\n\\nA presto!\\n\\nStudio Dentistico DentalCare",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [608, 2144],
      "id": "5a0301f8-c6fc-4f8f-9fd7-2185d0787faa",
      "name": "Send an updated confirmation in Gmail",
      "webhookId": "808126c3-0386-4065-9f93-d046a2307268",
      "credentials": {
        "gmailOAuth2": {
          "id": "osgkvG7Vg8X6zvTp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {"options": {}},
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1408, 1808],
      "id": "462b848c-c294-4be0-bc51-f731cfff5ec9",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "content": "## 4. CANCEL APPOINTMENT\nDentalCare REST API\n/api/appointments/{id}/status?status=cancelled",
        "height": 768,
        "width": 1728,
        "color": 3
      },
      "id": "9a9b6994-6888-41fe-aa2d-a4e6b743bf36",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 2512]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "677109b2-69b8-4407-ae63-e6b3376a79aa",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [112, 2608],
      "id": "beeb7f60-e1fe-4068-b3a0-13b3b889e943",
      "name": "Webhook3",
      "webhookId": "677109b2-69b8-4407-ae63-e6b3376a79aa"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "106bb13d-fc3b-450d-8ef4-6c4b6d8ee63e",
              "name": "serviceKey",
              "value": "<SERVICE_KEY>",
              "type": "string"
            },
            {
              "id": "720f8c75-4c9f-4b4d-bd95-7629a2bebded",
              "name": "serverUrl",
              "value": "https://papalef.duckdns.org:8181",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "80e569d0-55fe-434b-b353-6b8927d70721",
      "name": "Service Key 3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [288, 2608]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Service Key 3').first().json.serverUrl }}/api/public/service-token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Key",
              "value": "={{ $('Service Key 3').first().json.serviceKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7c12aa31-29e7-42b0-828f-bc90560507a4",
      "name": "Login DentalCare 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [464, 2608]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Ruolo\n\nSei un agente AI per la cancellazione appuntamenti dello Studio Dentistico DentalCare.\n\n**Data e ora attuali:** {{ $now }}\n**Paziente:** {{ $('Webhook3').item.json.body.args.name }}\n**Email:** {{ $('Webhook3').item.json.body.args.email }}\n**Telefono:** {{ $('Webhook3').item.json.body.args.phone }}\n**Appuntamento da cancellare:** {{ $('Webhook3').item.json.body.args.appointment_time }}\n**Servizio:** {{ $('Webhook3').item.json.body.args.service_type }}\n\n## Processo\n1. Cerca appuntamento con finestra ±2h intorno ad appointment_time.\n2. Filtra per paziente e orario. Match unico e certo.\n3. Se trovato: cancella con appointmentId.\n4. Se ok: invia conferma Gmail.\n\nSe ambiguita': non cancellare, chiedi verifica manuale. La cancellazione e' irreversibile. Rispondi in italiano.",
        "options": {}
      },
      "id": "2fadb0d6-2090-49fb-9c38-56302770f47e",
      "name": "AI Agent3",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [656, 2608]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [400, 2848],
      "id": "72a93449-b7b2-4e8f-9243-5728809dda65",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "PFFN15WYjjdTA4aM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Recupera gli appuntamenti del gestionale DentalCare in una finestra temporale per trovare l'appuntamento da cancellare. Parametri: from = data inizio formato yyyy-MM-dd (es. 2026-06-25), to = data fine formato yyyy-MM-dd. Solo data, MAI datetime con orario.",
        "url": "={{ $('Service Key 3').first().json.serverUrl }}/api/appointments",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {"name": "from"},
            {"name": "to"}
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $('Login DentalCare 3').first().json.token }}"
            }
          ]
        }
      },
      "id": "cea8c56b-3608-45c6-9451-08d1589896cf",
      "name": "Cerca appuntamento da cancellare",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [592, 2848]
    },
    {
      "parameters": {
        "toolDescription": "Cancella un appuntamento nel gestionale DentalCare impostando status=cancelled. Usa {appointment_id} nell'URL con il UUID dell'appuntamento da cancellare.",
        "method": "PATCH",
        "url": "={{ $('Service Key 3').first().json.serverUrl }}/api/appointments/{appointment_id}/status?status=cancelled",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $('Login DentalCare 3').first().json.token }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "appointment_id",
              "description": "UUID dell'appuntamento da cancellare",
              "type": "string"
            }
          ]
        }
      },
      "id": "534d77e0-7c56-47f2-81d0-a3c4d7c74f0a",
      "name": "Cancella appuntamento DentalCare",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [800, 2848]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.args.email }}",
        "subject": "=Cancellazione appuntamento DentalCare per {{ $json.body.args.name }}",
        "emailType": "text",
        "message": "=Ciao {{ $json.body.args.name }}!\n\nIl tuo appuntamento del {{ $json.body.args.appointment_time }} per {{ $json.body.args.service_type }} e' stato cancellato.\n\nPer riprenotare contattaci.\n\nA presto!\n\nStudio Dentistico DentalCare",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [1008, 2848],
      "id": "79fc35ef-b2c9-4400-b55c-b711a42f1421",
      "name": "Send cancellation confirmation in Gmail",
      "webhookId": "808126c3-0386-4065-9f93-d046a2307268",
      "credentials": {
        "gmailOAuth2": {
          "id": "osgkvG7Vg8X6zvTp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {"options": {}},
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [976, 2608],
      "id": "5827fd67-2cb9-422b-8d86-e0eb14767ade",
      "name": "Respond to Webhook3"
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Service Key", "type": "main", "index": 0}]]},
    "Service Key": {"main": [[{"node": "Login DentalCare", "type": "main", "index": 0}]]},
    "Login DentalCare": {"main": [[{"node": "AI Agent", "type": "main", "index": 0}]]},
    "OpenAI Chat Model": {"ai_languageModel": [[{"node": "AI Agent", "type": "ai_languageModel", "index": 0}]]},
    "Controlla appuntamenti DentalCare": {"ai_tool": [[{"node": "AI Agent", "type": "ai_tool", "index": 0}]]},
    "AI Agent": {"main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]},
    "Webhook1": {"main": [[{"node": "Service Key 1", "type": "main", "index": 0}]]},
    "Service Key 1": {"main": [[{"node": "Login DentalCare 1", "type": "main", "index": 0}]]},
    "Login DentalCare 1": {"main": [[{"node": "AI Agent1", "type": "main", "index": 0}]]},
    "OpenAI Chat Model1": {"ai_languageModel": [[{"node": "AI Agent1", "type": "ai_languageModel", "index": 0}]]},
    "Cerca paziente DentalCare": {"ai_tool": [[{"node": "AI Agent1", "type": "ai_tool", "index": 0}]]},
    "Crea paziente DentalCare": {"ai_tool": [[{"node": "AI Agent1", "type": "ai_tool", "index": 0}]]},
    "Lista medici DentalCare": {"ai_tool": [[{"node": "AI Agent1", "type": "ai_tool", "index": 0}]]},
    "Lista poltrone DentalCare": {"ai_tool": [[{"node": "AI Agent1", "type": "ai_tool", "index": 0}]]},
    "Prenota appuntamento DentalCare": {"ai_tool": [[{"node": "AI Agent1", "type": "ai_tool", "index": 0}]]},
    "Send a message in Gmail": {"ai_tool": [[{"node": "AI Agent1", "type": "ai_tool", "index": 0}]]},
    "AI Agent1": {"main": [[{"node": "Respond to Webhook1", "type": "main", "index": 0}]]},
    "Webhook2": {"main": [[{"node": "Service Key 2", "type": "main", "index": 0}]]},
    "Service Key 2": {"main": [[{"node": "Login DentalCare 2", "type": "main", "index": 0}]]},
    "Login DentalCare 2": {"main": [[{"node": "AI Agent2", "type": "main", "index": 0}]]},
    "OpenAI Chat Model2": {"ai_languageModel": [[{"node": "AI Agent2", "type": "ai_languageModel", "index": 0}]]},
    "Cerca appuntamento da spostare": {"ai_tool": [[{"node": "AI Agent2", "type": "ai_tool", "index": 0}]]},
    "Sposta appuntamento DentalCare": {"ai_tool": [[{"node": "AI Agent2", "type": "ai_tool", "index": 0}]]},
    "Send an updated confirmation in Gmail": {"ai_tool": [[{"node": "AI Agent2", "type": "ai_tool", "index": 0}]]},
    "AI Agent2": {"main": [[{"node": "Respond to Webhook2", "type": "main", "index": 0}]]},
    "Webhook3": {"main": [[{"node": "Service Key 3", "type": "main", "index": 0}]]},
    "Service Key 3": {"main": [[{"node": "Login DentalCare 3", "type": "main", "index": 0}]]},
    "Login DentalCare 3": {"main": [[{"node": "AI Agent3", "type": "main", "index": 0}]]},
    "OpenAI Chat Model3": {"ai_languageModel": [[{"node": "AI Agent3", "type": "ai_languageModel", "index": 0}]]},
    "Cerca appuntamento da cancellare": {"ai_tool": [[{"node": "AI Agent3", "type": "ai_tool", "index": 0}]]},
    "Cancella appuntamento DentalCare": {"ai_tool": [[{"node": "AI Agent3", "type": "ai_tool", "index": 0}]]},
    "Send cancellation confirmation in Gmail": {"ai_tool": [[{"node": "AI Agent3", "type": "ai_tool", "index": 0}]]},
    "AI Agent3": {"main": [[{"node": "Respond to Webhook3", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1"
  }
}
